


:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #ff7c4e;
}

*{
    box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
   
}
a{
     text-decoration: none;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}
.container-right{
    padding-left: calc((100% - var(--container-width))/2);
    
}

/* header */


.header {
	overflow: hidden;
	position: relative;
	min-height: 940px;
	padding-top: 44px;
	background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
	color: #fff;
}

.header a {
	color: #fff;
}

.header::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 96px;

	background-image: url('/images/header-bottom.svg');
	background-size: 100%;
}

.header__top {
	margin-bottom: 86px;
}

.header__row {
	display: flex;
}

.header__content {
	max-width: 592px;
	position: relative;
	z-index: 1;
}

.header__img {
	position: relative;
	flex-grow: 1;
}

.header__img img {
	position: absolute;
	top: -161px;
	right: -87px;

	max-width: unset;
	width: 894px;
	height: 940px;

	pointer-events: none;
}

/* NAV */


.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list{
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a{
    position: relative;
    
}


.nav__list a.active::after,
.nav__list a:hover::after {
	content: '';

	position: absolute;
	left: 0;
	right: 10px;
	bottom: -6px;

	display: block;
	/* width: 35px; */
	height: 4px;
	background-color: #c4c4c4;
	border-radius: 50px;
}



.nav__login{
    display: flex;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
}


.login__btn{
    cursor: pointer;
    display: inline-block;
    border-radius: 100px;
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
}

.login__btn:hover{
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.login__btn:active{
    position: relative;
    top: 1px;
}


/* Header content */

.header__badge {
    margin-bottom: 7px;
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}
.header__title {
    font-size: 55px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 82px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    line-height: 38px;
}
.header__btn {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 27px 48px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.header__btn:hover{
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.header__btn:active{
    position: relative;
    top: 1px;
}



.destinations{
    padding: 96px 0 100px;
    overflow-x: hidden;
}


.destinations__row {
    display: flex;
    column-gap: 50px;
}
.destinations__content {
    width: 456px;
}
.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 82px;
}

.destinations__title span{
    font-size: 30px;
    line-height: 45px;

}
.destinations__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: var(--secondary);
    width: 456px;
}
.btn {
    margin-top: 60px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 45px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    color: #fff;
}

.btn:hover{
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.btn:active{
    position: relative;
    top: 1px;
}




.owl-item {
	display: flex;
	justify-content: center;
}

.slider {
	position: relative;
	height: 456px;
   
}

.slider .center .slider__item {
	margin-top: 0;
	width: 380px;
	height: 456px;
}



.slider__item {
	margin-top: 27px;

	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;

	transition: 0.2s ease-in;
}

.slider__btn{
    

    cursor: pointer;
    width: 68px;
    height: 68px;
    display: flex;
    padding-left: 26px;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
}

.slider__btn--prev {
    position: absolute;
    padding-left: 26px;
    justify-content: flex-start;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.slider__btn--next {
    position: absolute;
    padding-right: 26px;
    justify-content: flex-end;
    padding-left: 26px;
    justify-content: flex-start;
    right: -27px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}

.btn a{
    color: white;
}





.customers {
    padding: 100px 0 133px;
}

.customers__row {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}
.customers__img {
    max-width: 478px;
}
.customers__img img{
    border-radius: 60px;
}
.customers__content {
}
.customers__title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
    width: 565px;
}

.review{
    max-width: 490px;
}

.review__client {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    column-gap: 33px;
}
.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #ff794e;
}

.review__client-desc-name {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 10px;
}
.review__client-desc-country {
    font-size: 25px;
    color: var(--secondary);
}
.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
}


.cta {
    margin-top: 100px;
    margin-bottom: 135px;
}

.cta__plate::before,
.cta__plate::after{
    content: '';
    position: absolute;
    width: 63px;
    height: 83px;
}

.cta__plate::before{
    left: 74px;
    bottom: 56px;
    background-image: url('./images/cta-el-01.svg');
}

.cta__plate::after{
    top: 74px;
    right: 80px;
    background-image: url('./images/cta-el-02.svg');
}

.cta__plate {
    position: relative;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 580px;
    padding: 40px 15px;
}
.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 596px;
    justify-content: center;
}
.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary);
}
.cta__btn {
    margin-top: 0;
}

.subscribe__title {
    font-weight: 600;
    font-size: 55px;
    max-width: 494px;
    margin-bottom: 60px;
}

.subscribe {
    margin-bottom: 50px;
}

.subcribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form {
    padding: 12px 15px 12px 46px;
    background-color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    
}
.subscribe-form__input{
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary);
}

.subscribe-form__input::placeholder{
    color: var(--secondary);
}



.subcribe-form__btn  {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 24px 65px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.subcribe-form__btn:hover{
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.subcribe-form__btn:active{
    position: relative;
    top: 1px;
}

.footer{
    padding-top: 56px;
    padding-bottom: 74px;
}

.footer a{
    color:rgba(131, 139, 137, 1);
}



.logo--footer a{
    color: #FF7C4E;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after{
    display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover{
    color: var(--orange);
}

.login__btn--footer {
    color: #fff !important;
}

.login__btn--footer:hover{
    color: rgb(245, 233, 127) !important;
}

